{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 center-block z-depth-5 rounded">
            <!-- Default form register -->
            <form method="POST" action="" class="text-center p-5">
                {{ form.hidden_tag() }}
                <p class="h4 mb-4">Sign up</p>
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form.username.label(class='form-control-label') }}

                        {% if form.username.errors %}
                            {{ form.username(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class='form-control form-control-lg') }}
                        {% endif %}
                        
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form.email.label(class='form-control-label') }}
                        {% if form.email.errors %}
                            {{ form.email(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form.password.label(class='form-control-label') }}
                        {% if form.password.errors %}
                            {{ form.password(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class='form-control form-control-lg') }}
                        {% endif %}
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            At least 8 characters and 1 digit
                        </small>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form.confirm_password.label(class='form-control-label') }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class='form-control-lg') }}
                        {% endif %}
                    </div>
                </div>
                <!-- Sign up button -->
                <!-- <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button> -->
                <div class="form-group">
                    {{ form.submit(class='btn btn-info my-4 btn-block') }}
                </div>

                <div class="border-top pt-3 pb-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{{url_for('main.login')}}">Sign In</a>
                    </small>
                </div>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>
            </form>
            <!-- Default form register -->
        </div>
    </div>
</div>
{% endblock %}